#game-play, #end {
  display: none;
}

#name-display {
  display: none;
}

body {
  background-color: #6A4C93;
}

h1 {
  /* font-family: 'Alata', sans-serif; */
  font-family: 'Lobster', cursive;
  color: #FFCA3A;
  font-size: 56px;
}

label {
  font-family: 'Alata', sans-serif;
  color: white;
}

button {
  font-family: 'Alata', sans-serif;
  background-color: #FF595E;
  color: white;
  border-radius: 2.5px;
  border-color: #FF595E;
}

#counters {
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 28px;
}

#hunger, #fun, #energy {
  text-align: center;
}

#x, #treme {
  font-family: 'Permanent Marker', cursive;
  color: #FF595E;
}

#x {
  font-size: 100px;
  vertical-align: sub;
}
#treme {
  font-size: 56px;
}
